<div class="menu_block">
  <img width="86px" height="86px" src="/icons/Logo.svg" />
  <div class="menu">
    <!-- Меню навигации -->
    <p class="personages">Персонажи</p>
    <a href="/"> О нас
    </a>
    <p>Справка</p>
    <p>Магазин</p>
    <p>Дополнительно</p>
  </div>
</div>
<div class="profile">
  <!-- Профиль пользователя -->
  <img class="avatar_user" width="32px" height="32px" src="/icons/userIcon.png" />
  <h5 class="name_user"></h5>
  <button class="logOut">
    <img src="/icons/logOut.svg" />
  </button>
</div>
<div class="line"></div>
<script src="/js/index.js"></script>
<script src="/js/api.js"></script>
<script src="/js/libs.js"></script>