<div class="menu_block">
  <img width="86px" height="86px" src="/icons/Logo.svg" />
  <div class="menu">
    <p class="personages">Персонажи</p>
    <a href="/"> О нас
    </a>
    <p>Справка</p>
    <p>Магазин</p>
    <p>Дополнительно</p>
  </div>
</div>
<div class="profile">
  <img class="avatar_user" width="32px" height="32px" src="/icons/userIcon.png" />
  <h5 class="name_user"></h5>
  <button class="logOut">
    <img src="/icons/logOut.svg" />
  </button>
</div>
<div class="line"></div>
<script src="/js/index.js"></script>
<script src="/js/api.js"></script>
<script src="/js/libs.js"></script>
<script>
  const logOut = document.querySelector('.logOut');
  const personages = document.querySelector('.personages');

  document.addEventListener('DOMContentLoaded', () => {
    const isLoggedOut = false;

    window.api.getProfile().then((data) => {
      const nameUser = document.querySelector('.name_user');
      const avatar = document.querySelector('.avatar_user');
      const { username, image } = data;
      if (image) {
        avatar.src = image;
      }
      avatar.src = '/icons/userIcon.png';
      nameUser.textContent = username;
      localStorage.setItem('username', username);
      localStorage.setItem('avatar', image);
    });
    localStorage.setItem('isLoggedOut', isLoggedOut);
  });

  logOut.addEventListener('click', () => {
    window.api.logout().then(() => {
      const isLoggedOut = localStorage.getItem('isLoggedOut');
      isLoggedOut = true;
      localStorage.setItem('isLoggedOut', isLoggedOut);
      const profile = document.querySelector('.profile');
      const loginButton = document.createElement('button');
      const registerButton = document.createElement('button');

      // Создаем кнопки для входа и регистрации
      loginButton.classList.add('login');
      loginButton.textContent = 'Вход';
      loginButton.addEventListener('click', () => {
        window.location.href = '/login/login.html';
      });

      registerButton.classList.add('register');
      registerButton.textContent = 'Регистрация';
      registerButton.addEventListener('click', () => {
        window.location.href = '/register/register.html';
      });

      // Заменяем профиль кнопками входа и регистрации
      profile.innerHTML = '';
      profile.appendChild(loginButton);
      profile.appendChild(registerButton);
    });
  });

  personages.addEventListener('click', () => {
    if (localStorage.getItem('isLoggedOut')) {
      alert('Вы должны войти в аккаунт чтобы получить доступ к персонажам!');
    } else {
      window.location.href = '/home/home.html';
    }
  });

  document.addEventListener('DOMContentLoaded', () => {
    const profile = document.querySelector('.profile');
    const isLoggedOut = localStorage.getItem('isLoggedOut') === 'true';

    //Если я залогинен, то будет отображаться профиль, иначе кнопки для Входа и Регистрации
    if (isLoggedOut) {
      profile.innerHTML = `
      <button class="login">Вход</button>
      <button class="register">Регистрация</button>
    `;
      const loginButton = profile.querySelector('.login');
      const registerButton = profile.querySelector('.register');

      if (loginButton) {
        loginButton.addEventListener('click', () => {
          window.location.href = '../../login/login.html';
        });
      }

      if (registerButton) {
        registerButton.addEventListener('click', () => {
          window.location.href = '/register/register.html';
        });
      }
    } else {
      profile.innerHTML = `
      <img class="avatar_user" width="32px" height="32px" src="/icons/userIcon.png" />
      <h5 class="name_user"></h5>
      <button class="logOut">
        <img src="/icons/logOut.svg" />
      </button>
      `;
    }
  });


</script>