/* Стили для описания регистрации */
.description_register {
  width: 305px;
  color: #999ca0;
  font-weight: 400;
  line-height: 16px;
}

.description_register p {
  font-size: 12px;
}

/* Стили для пространства добавления аватара */
#add_avatar_space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

/* Стили для блока добавления аватара */
.add_avatar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Стили для кнопки добавления */
.add_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
  border: 0;
  color: #595d62;
  width: 144px;
  height: 40px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.add_btn:hover {
  background-color: #dddddd;
}

/* Стили для блока ввода регистрационных данных */
.register_inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Стили для ввода данных */
.register_inputs input {
  border: 1px solid #e2e2e2;
}

/* Стили для блока ввода электронной почты и имени */
.email_name_block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.email_name_block input {
  border-radius: 8px;
  padding: 8px 12px;
}

/* Стили для блока ввода пароля */
.password_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.password_block input {
  width: 100%;
  border-radius: 8px;
  padding: 8px 12px;
}

/* Стили для блока условий */
.conditions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -12px;
}

.conditions p {
  font-size: 12px;
  color: #999ca0;
}

.conditions input {
  cursor: pointer;
}

/* Стили для блока ввода электронной почты */
.email {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

/* Стили для блока ввода имени */
.name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

/* Стили для блока ввода пароля */
.password {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

/* Стили для блока повторного ввода пароля */
.password_repeat {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

/* Стили для ссылки "Забыл пароль?" */
.forgot_btn {
  color: #2d81fe;
  cursor: pointer;
  text-decoration: none;
}

.forgot_btn:hover {
  text-decoration: underline;
}

/* Стили для блока "Забыл пароль?" */
.forgot_block {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.forgot_block a {
  text-decoration: none;
}

/* Стили для блока ввода пароля с иконкой глаза */
.input_password {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

/* Стили для иконки глаза */
.eye_icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
}

/* Стили для блока добавления аватара */
.add-avatar {
  position: absolute;
  width: 1px;
  height: 1px;
}

div > div > .error-input {
  border: 1px solid rgba(255, 78, 100, 1);
}
div > div > .error-input:focus {
  outline: none;
}
.input-error-label {
  font-size: 12px;
  color: rgba(255, 78, 100, 1);
  position: absolute;
  top: 68px;
  left: 12px;
}
