@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&display=swap');

/* Общие стили для body */
body {
  background-image: url(/icons/phone_personages.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'DM Sans', sans-serif;
}

/* Стили для основного блока */
.main_block {
  background-color: #fff;
  border-radius: 10px;
  background-color: #fff;
  margin: 24px;
}

/* Стили для контента */
.content {
  display: flex;
  justify-content: space-between;
  padding-top: 103px;
}

/* Стили для заголовка */
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title h1 {
  font-size: 46px;
  font-weight: 400;
  height: 12px;
  color: #000;
}

.title h4 {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

.title p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  max-width: 468px;
  line-height: 24px;
}

/* Стили для блока новостей */
.news {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.news h1 {
  font-size: 36px;
  font-weight: 400;
  color: #000;
}

/* Стили для контейнера */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Стили для блока новости */
.news_block {
  display: flex;
  padding-top: 24px;
  border-top: 1px solid #e2e2e2;
  width: 100%;
  justify-content: space-between;
}

/* Стили для описания новости */
.description_new {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 24px;
  color: #595d62;
  max-width: 468px;
}

.news_block h4 {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  gap: 24px;
}

.news_content {
  height: 238px;
}

/* Стили для кнопки входа */
.login:hover {
  background-color: #dddddd;
}

.login {
  font-size: 14px;
  font-weight: 700;
  background-color: #fff;
  border: 0;
  width: 68px;
  height: 40px;
  padding: 8px;
  color: #595d62;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

/* Стили для кнопки регистрации */
.register {
  width: 120px;
  height: 40px;
  padding: 8px;
  border: 0;
  border-radius: 8px;
  background: linear-gradient(180deg, #70a9fe 0%, #2d81fe 100%);
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.register:hover {
  box-shadow: 0 0 0 4px #ccc;
}

.register:active {
  box-shadow: 0 0 0 2px white, 0 0 0 6px #ccc;
}

/* Стили для даты новости */
.date_new {
  display: flex;
  gap: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #595d62;
}
