@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&display=swap');
body {
  background-image: url(/icons/phone_personages.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'DM Sans', sans-serif;
}

.header {
  display: flex;
  background-color: #fff;
  align-items: center;
  border-radius: 10px;
  height: 120px;
  padding: 0 24px 0 24px;
  position: relative;
  justify-content: space-between;
  margin: 24px;
}

.line {
  width: 93.7%;
  border: 1px solid #eaeaea;
  margin-top: 54px;
  margin-left: 75px;
  position: absolute;
}

.menu {
  display: flex;
  gap: 24px;
  color: #828282;
}

.profile {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-bottom: 32px;
}

.menu_block {
  display: flex;
  gap: 40px;
}

.main_block {
  background-color: #fff;
  border-radius: 10px;
  background-color: #fff;
  margin: 24px;
  height: 100%;
}

.content {
  display: flex;
  justify-content: space-around;
  padding-top: 103px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title h1 {
  font-size: 46px;
  font-weight: 400;
  height: 12px;
  color: #000;
}

.title h4 {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

.title p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  max-width: 468px;
  line-height: 24px;
}
