.register_inputs {
  padding: 32px 0 24px 0;
  gap: 16px;
}

.forgot_password {
  width: 25%;
  font-size: 14px;
  color: #2d81fe;
  cursor: pointer;
}

.eye_icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
}
.password_block {
  display: flex;
  align-items: center;
}

.password_block input {
  width: 476px;
  border-radius: 8px;
  padding: 8px 12px;
}

.input_password {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.password {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  margin-bottom: 8px;
}

.register_inputs a {
  text-decoration: none;
}

.forgot_password:hover {
  text-decoration: underline;
}

.forgot_text {
  color: '#999CA0';
  font-size: '12px';
  font-weight: 400;
}
.register_block {
  width: 500px;
  background-color: #ffffff;
  margin: 70px auto;
  border-radius: 10px;
  padding: 24px;
}

.register_text {
  font-size: 20px;
  font-weight: 400;
}

.register_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_header img {
  cursor: pointer;
}

.register_inputs input {
  border: 1px solid #e2e2e2;
}

.email_name_block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.email_name_block input {
  border-radius: 8px;
  padding: 8px 12px;
}

.email {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  height: 48px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.forgot_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.forgot_block a {
  text-decoration: none;
  color: #2d81fe;
}

.forgot_btn:hover {
  text-decoration: underline;
}

.input-error-label {
  font-size: 12px;
  color: rgba(130, 130, 130, 1);
  left: 12px;
  color: rgba(255, 78, 100, 1);
}

div > div > .error-input {
  border: 1px solid rgba(255, 78, 100, 1);
}
div > div > .error-input:focus {
  outline: none;
}
