<link rel="stylesheet" href="./deleteDetail.css">
<link rel="stylesheet" href="/global.css">
<div class="modal">
  <div class="content">
    <div class="deleteDetail_header">
      <p class="addPersonage_text">Вы действительно хотите удалить details?</p>
    </div>
    <div class="btn_block">
      <button class="open_mail" id="deleteDetailCloseBtn">Отмена</button>
      <button class="btn" id="deleteDetailBtn">Удалить</button>
    </div>
  </div>
</div>
<script src="./deleteDetail.js"></script>