.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background: #ffffff;
  padding: 24px;
  border-radius: 10px;
}

.cropper-container {
  width: 404px;
  height: 388;
}

#cropImage {
  max-width: 350px;
  max-height: 350px;
}

#avatar {
  border-radius: 50%;
}

.image-name {
  display: flex;
  gap: 8px;
  color: rgba(46, 140, 228, 1);
  font-size: 14px;
}

.image-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-remove {
  cursor: pointer;
}

.register_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cropper-crop-box,
.cropper-view-box {
  border-radius: 50%;
}

.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}

.cropper-face {
  background-color: inherit !important;
}

.cropper-dashed,
.cropper-point.point-se,
.cropper-point.point-sw,
.cropper-point.point-nw,
.cropper-point.point-ne,
.cropper-line {
  display: none !important;
}

.cropper-view-box {
  outline: inherit !important;
}

.crop-image-btn {
  margin-top: 24px;
  width: 100%;
}

.cropper-wrap-box {
  background: rgba(245, 245, 245, 1);
}
