<link rel="stylesheet" href="./addPersonage.css">
<link rel="stylesheet" href="/global.css">
<div class="modal">
  <div class="content">
    <div class="addPersonage_header">
      <p class="addPersonage_text">Создать карточку героя</p>
      <img class="close" width="32px" height="32px" src="/icons/closeIcon.svg" id="close-personages-modal" />
    </div>
    <div class="addPersonage_block">
      <div class="add_image">
        <p class="add_image_text">Портрет персонажа</p>
        <div class="image_block">
          <img class="add_image" width="90px" height="80px" src="/icons/addImageSvg.svg" />
          <button class="btn">
            <input type="file" class="add-avatar" id="add-avatar-input" />
            <img width="18px" height="16px" src="/icons/uploadImage.svg" /> Загрузить фото
          </button>
          <p class="order_text">Или перетащите файл сюда</p>
        </div>
      </div>
      <div class="addPersonage_form">
        <div class="namePersonage">
          <label>Имя</label>
          <input value="" id="name" type="text" placeholder="Ваш заголовок" />
          <label id="name-error-label" for="" class="input-error-label none"></label>
        </div>
        <label class="period_label">Период активности</label>
        <div class="period">
          <div class="start">
            <input id="period" type="date" placeholder="Начало" />
          </div>
          <img width="12px" height="24px" src="/icons/minus.svg" />
          <input id="period" type="date" placeholder="Конец" />
          <label id="period-error-label" for="" class="input-error-label none"></label>
        </div>
        <div class="place">
          <label>Место</label>
          <input id="place" type="text" placeholder="Ваш текст..." />
          <label id="place-error-label" for="" class="input-error-label none"></label>
        </div>
        <div class="additional_information">
          <label>Дополнительная информация</label>
          <input id="additional_information" type="text" placeholder="Ваш текст..." />
          <label id="additional_information-error-label" for="" class="input-error-label none"></label>
        </div>
        <div class="fraction">
          <input id="fraction" type="checkbox" />
          <p>Отображать фракцию персонажа</p>
        </div>
      </div>
    </div>
    <div class="btn_block">
      <button class="open_mail" id="cancelPersonageBtn">Сбросить</button>
      <button class="btn" id="addPersonageBtn">Сохранить</button>
    </div>
  </div>
</div>
<script src="/js/api.js"></script>
<script src="/js/index.js"></script>
<script src="/js/libs.js"></script>