<div class="password">
  <label class="label"></label>
  <div class="input_password">
    <input id="password" type="password" placeholder="Введите новый пароль" />
    <img class="eye_icon" width="24px" height="24px" src="/icons/closeEyeIcon.svg" />
  </div>
  <label id="password-error-label" for="" class="input-error-label none"></label>
</div>
<script>
  const eyeIcon = document.querySelector('.eye_icon');
  const label = document.querySelector('.label');

  if (window.location.href.includes('reset-password')) {
    label.textContent = 'Новый пароль';
  }
  else {
    label.textContent = 'Пароль';
  }
  //Смена видимости пароля
  eyeIcon.addEventListener('click', () => {
    if (document.getElementById('password').type === 'password') {
      document.getElementById('password').type = 'text';
      eyeIcon.src = '/icons/eyeIcon.svg';
    } else {
      document.getElementById('password').type = 'password';
      eyeIcon.src = '/icons/closeEyeIcon.svg';
    }
  });
</script>