.register_inputs {
  display: flex;
  flex-direction: column;
}

.register_inputs input {
  border: 1px solid #e2e2e2;
}

.eye_icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
}

.input_helperText {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #999ca0;
}

.input_helperText b {
  color: #999ca0;
}
