.register_block {
  width: 462px;
  height: 164px;
  background-color: #ffffff;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 24px;
}

.register_text {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
}

.register_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register_inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.register_inputs input {
  border: 1px solid #e2e2e2;
}

.password_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.password_block input {
  border-radius: 8px;
  padding: 8px 12px;
  width: 100%;
}

.password {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  margin-top: 44px;
  width: 100%;
}

.input_password {
  display: flex;
  align-items: center;
  position: relative;
}

.eye_icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
}

.reset_btn {
  margin: 0 auto;
  width: 195px;
  background: linear-gradient(180deg, #70a9fe 0%, #2d81fe 100%);
  color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  font-weight: 500;
  font-size: 14px;
  margin-top: 48px;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.reset_btn:hover {
  box-shadow: 0 0 0 4px #ccc;
}

.reset_btn:active {
  box-shadow: 0 0 0 2px white, 0 0 0 6px #ccc;
}

div > div > .error-input {
  border: 1px solid rgba(255, 78, 100, 1);
}
div > div > .error-input:focus {
  outline: none;
}
.input-error-label {
  font-size: 12px;
  color: rgba(130, 130, 130, 1);
  position: absolute;
  top: 68px;
  left: 12px;
}

.input_helperText {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #999ca0;
}

.input_helperText b {
  color: #999ca0;
}
