/* Обновление стилей для блока регистрации */
.register_block {
  width: 462px;
  height: 164px;
  background-color: #ffffff;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 24px;
}

/* Обновление стилей для текста заголовка */
.register_text {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
}

/* Обновление стилей для заголовка с кнопкой */
.register_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
