.register_block {
  width: 462px;
  height: 340px;
  background-color: #ffffff;
  margin: 70px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

.register_text {
  font-size: 20px;
  font-weight: 400;
}

.register_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_header p {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 48px;
}

.register_header img {
  cursor: pointer;
}

.check_email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.main {
  width: 167px;
  height: 40px;
  border: 0;
  color: #ffffff;
  border-radius: 8px;
  background: linear-gradient(180deg, #70a9fe 0%, #2d81fe 100%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.main:hover {
  box-shadow: 0 0 0 4px #ccc;
}

.main:active {
  box-shadow: 0 0 0 2px white, 0 0 0 6px #ccc;
}

.main a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
