.register_block {
  width: 462px;
  height: 340px;
  background-color: #ffffff;
  margin: 70px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

.register_text {
  font-size: 20px;
  font-weight: 400;
}

.register_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_header p {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 48px;
}

.register_header img {
  cursor: pointer;
}

.check_email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.main a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}
