.register_block {
  width: 462px;
  height: 164px;
  background-color: #ffffff;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 24px;
}

.register_text {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
}

.register_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset_btn {
  margin: 0 auto;
  width: 195px;
  background: linear-gradient(180deg, #70a9fe 0%, #2d81fe 100%);
  color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  font-weight: 500;
  font-size: 14px;
  margin-top: 48px;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.reset_btn:hover {
  box-shadow: 0 0 0 4px #ccc;
}

.reset_btn:active {
  box-shadow: 0 0 0 2px white, 0 0 0 6px #ccc;
}
