/* Стили для блока регистрации */
.register_block {
  width: 500px;
  background-color: #ffffff;
  margin: 70px auto;
  border-radius: 10px;
  padding: 24px;
}

/* Стили для текста заголовка */
.register_text {
  font-size: 20px;
  font-weight: 400;
}

/* Стили для заголовка с кнопкой */
.register_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стили для изображения в заголовке */
.register_header img {
  cursor: pointer;
}

/* Стили для блока ввода данных */
.register_inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Стили для ввода данных */
.register_inputs input {
  border: 1px solid #e2e2e2;
}

/* Стили для блока ввода электронной почты и имени */
.email_name_block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.email_name_block input {
  border-radius: 8px;
  padding: 8px 12px;
}

/* Стили для блока ввода электронной почты */
.email {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

/* Стили для текста "Забыл пароль?" */
.forgot_text {
  color: #999ca0;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* Стили для ошибок ввода */
div > div > .error-input {
  border: 1px solid rgba(255, 78, 100, 1);
}

div > div > .error-input:focus {
  outline: none;
}

/* Стили для меток ошибок ввода */
.input-error-label {
  font-size: 12px;
  color: rgba(255, 78, 100, 1);
}
