.register_block {
  width: 500px;
  background-color: #ffffff;
  margin: 70px auto;
  border-radius: 10px;
  padding: 24px;
}

.register_text {
  font-size: 20px;
  font-weight: 400;
}

.register_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_header img {
  cursor: pointer;
}

.register_inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.register_inputs input {
  border: 1px solid #e2e2e2;
}

.email_name_block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.email_name_block input {
  border-radius: 8px;
  padding: 8px 12px;
}
.email {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.register_btn {
  width: 100%;
  height: 40px;
  border: 0;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 150px;
  background: linear-gradient(180deg, #70a9fe 0%, #2d81fe 100%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.register_btn:hover {
  box-shadow: 0 0 0 4px #ccc;
}

.register_btn:active {
  box-shadow: 0 0 0 2px white, 0 0 0 6px #ccc;
}

.forgot_text {
  color: #999ca0;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
}
